body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 100px 0px 50px 0px;
  font-size: 50px;
  font-weight: 900;
}
.video {
  border: 3px solid black;
  border-radius: 5%;
  outline: none;
  border: none;
}
#video {
  cursor: pointer;
}
i {
  cursor: pointer;
  padding-right: 5px;
}
.fa-play {
  color: green;
}
.fa-stop {
  color: red;
}
footer {
  margin-top: 15px;
  width: 512px;
  display: flex;
}
footer div {
  margin-left: 10px;
}
